:aws:
  :access_key_id: ADD HERE
  :secret_access_key: ADD HERE
:s3:
  :region:  # S3 bucket region
  :buckets:
    :jsonpath_assets: # If you have defined your own JSON Schemas, add the s3:// path to your own JSON Path files in your own bucket here
    :enriched:
      :good:  # Must be s3:// not s3n:// for Redshift. This is the same as the :enriched:good: bucket specified for EmrEtlRunner
      :archive:  # Where to archive enriched events to
    :shredded:
      :good:  # Must be s3:// not s3n:// for Redshift. This is the same as the :shredded:good: bucket specified for EmrEtlRunner
      :archive: # Where to archive shredded types to
:download:
  :folder:  # Not required for Redshift
:targets:
  - :name: ADD HERE
    :type: bigquery
    :schema: JSON SCHEMA PATH
    :dataset: NAME OF DATASET
    :table_prefix: TABLE PREFIX
    :maxerror: 1000 # Stop loading on first error, or increase to permit more load errors
    :replace: false
    :timezone: ADD HERE
    :processing_dir: PROCESSING DIRECTORY
