:aws:
  :access_key_id: ADD HERE
  :secret_access_key: ADD HERE
:s3:
  :region: ADD HERE # For Redshift, S3 bucket region must be the same as Redshift cluster region
  :buckets:
    :in: ADD HERE # Must be s3:// not s3n:// for Redshift
    :archive: ADD HERE
:download:
  :folder: ADD HERE # Postgres-only config option. Where to store the downloaded files. Leave blank for Redshift
# Currently assumes we are loading only one target
:storage:
  :type: redshift # Or 'postgres'
  :host: ADD HERE # For Redshift, the endpoint as shown in the Redshift console. For Postgres, the hostname of your database server
  :database: ADD HERE # Name of database 
  :port: 5439 # For Redshift default port, or '5432' for Postgres default port
  :table: events # For Redshift, or 'atomic.events' for Postgres
  :username: ADD HERE 
  :password: ADD HERE 
  :maxerror: 1 # For Redshift, stop loading on first error
  :empty_as_null: true # For Redshift, treat empty char / varchar fields as NULL
