:aws:
  :access_key_id: ADD HERE
  :secret_access_key: ADD HERE
:s3:
  :region: ADD HERE # S3 bucket region
  :buckets:
    :jsonpath_assets: # Not required for Postgres
    :enriched:
      :good: ADD HERE # This is the same as the :enriched:good: bucket specified for EmrEtlRunner
      :archive: ADD HERE # Where to archive enriched events to
    :shredded:
      :good: # Not required for Postgres
      :archive: # Not required for Postgres
:download:
  :folder: ADD HERE # Postgres-only config option. Where to store the downloaded files
:targets:
  - :name: "My PostgreSQL database"
    :type: postgres
    :host: ADD HERE # Hostname of database server
    :database: ADD HERE # Name of database 
    :port: 5432 # Default Postgres port
    :table: atomic.events
    :username: ADD HERE 
    :password: ADD HERE 
    :maxerror: # Not required for Postgres
    :comprows: # Not required for Postgres
