files:
    "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.tomcat8.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/log/tomcat8/catalina*
            /var/log/tomcat8/host*
            /var/log/tomcat8/localhost.*
            /var/log/tomcat8/manager*
            /var/log/tomcat8/tomcat8* {
            rotate 5
            missingok
            compress
            notifempty
            copytruncate
            dateext
            dateformat %s
            olddir /var/log/tomcat8/rotated
            }

    "/etc/cron.d/onespot-logrotate":
        mode: "000644"
        owner: root
        group: root
        content: |
             MAILTO=""
             * * * * * root /opt/cron.logrotate.onespot.sh

    "/opt/cron.logrotate.onespot.sh":
        mode: "00744"
        owner: root
        group: root
        content: |
            #!/bin/sh
            test -x /usr/sbin/logrotate || exit 0
            # Running without the -f flag in order to honor size and interval
            /usr/sbin/logrotate /opt/logrotate.onespot.tomcat8.conf

    "/opt/logrotate.onespot.tomcat8.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/log/tomcat8/localhost_access* {
            maxsize 256M
            daily
            rotate 2000
            missingok
            compress
            notifempty
            copytruncate
            dateext
            dateformat %s
            olddir /var/log/tomcat8/rotated
            }

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
