files:
    "/etc/cron.d/onespot-logrotate":
        mode: "000644"
        owner: root
        group: root
        content: |
             MAILTO=""
             * * * * * root /etc/cron.hourly/cron.logrotate.elasticbeanstalk.tomcat8.conf

    "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.tomcat8.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/log/tomcat8/* {
            maxsize 512M
            daily
            rotate 2000
            missingok
            compress
            notifempty
            copytruncate
            dateext
            dateformat %s
            olddir /var/log/tomcat8/rotated
            }

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
