container_commands:
  
  1-remove-jars:
    command: rm -f /usr/share/tomcat8/lib/snowplow-access-valve-all-0.1.0.jar

  2-add-jar:
    command: cp .ebextensions/snowplow-access-valve-all-0.2.0.jar /usr/share/tomcat8/lib/snowplow-access-valve-all-0.2.0.jar

  3-replace-server-xml:
    command: cp .ebextensions/server.xml /etc/tomcat8/server.xml

  4-replace-web-xml:
    command: cp .ebextensions/web.xml /usr/share/tomcat8/conf/web.xml
