*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ Files #
.idea/
.manager/
workspace.xml
*.iml

# Sublime, Vim Files #
*.sublime-*
*.swp
*~

# SBT Files #
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
