[submodule "1-trackers/javascript-tracker"]
	path = 1-trackers/javascript
	url = https://github.com/snowplow/snowplow-javascript-tracker
[submodule "1-trackers/python-tracker"]
	path = 1-trackers/python
	url = https://github.com/snowplow/snowplow-python-tracker
[submodule "1-trackers/java-tracker"]
	path = 1-trackers/java
	url = https://github.com/snowplow/snowplow-java-tracker.git
[submodule "1-trackers/ruby-tracker"]
	path = 1-trackers/ruby
	url = https://github.com/snowplow/snowplow-ruby-tracker.git
[submodule "1-trackers/nodejs-tracker"]
	path = 1-trackers/nodejs
	url = https://github.com/snowplow/snowplow-nodejs-tracker.git
[submodule "1-trackers/objc-tracker"]
	path = 1-trackers/objective-c
	url = https://github.com/snowplow/snowplow-objc-tracker
[submodule "1-trackers/android-tracker"]
	path = 1-trackers/android
	url = https://github.com/snowplow/snowplow-android-tracker
[submodule "1-trackers/dotnet-tracker"]
	path = 1-trackers/dotnet
	url = https://github.com/snowplow/snowplow-dotnet-tracker.git
[submodule "1-trackers/php-tracker"]
	path = 1-trackers/php
	url = https://github.com/snowplow/snowplow-php-tracker.git
[submodule "1-trackers/scala-tracker"]
	path = 1-trackers/scala
	url = https://github.com/snowplow/snowplow-scala-tracker.git
[submodule "1-trackers/unity-tracker"]
	path = 1-trackers/unity
	url = https://github.com/snowplow/snowplow-unity-tracker.git
[submodule "1-trackers/golang-tracker"]
	path = 1-trackers/golang
	url = https://github.com/snowplow/snowplow-golang-tracker.git
[submodule "4-storage/s3-loader"]
	path = 4-storage/loaders/s3
	url = https://github.com/snowplow/snowplow-s3-loader.git
[submodule "3-enrich/enrich"]
	path = 3-enrich/enrich
	url = https://github.com/snowplow/enrich.git
[submodule "2-collectors/stream-collector"]
	path = 2-collectors/stream-collector
	url = https://github.com/snowplow/stream-collector.git
[submodule "3-enrich/eer"]
	path = 3-enrich/emr-etl-runner
	url = https://github.com/snowplow/emr-etl-runner.git
[submodule "4-storage/snowplow-rdb-loader"]
	path = 4-storage/loaders/redshift
	url = https://github.com/snowplow/snowplow-rdb-loader.git
[submodule "4-storage/snowplow-bigquery-loader"]
	path = 4-storage/loaders/bigquery
	url = https://github.com/snowplow-incubator/snowplow-bigquery-loader.git
[submodule "4-storage/snowplow-snowflake-loader"]
	path = 4-storage/loaders/snowflake
	url = https://github.com/snowplow-incubator/snowplow-snowflake-loader.git
[submodule "4-storage/gcs-loader"]
	path = 4-storage/loaders/google-cloud-storage
	url = https://github.com/snowplow-incubator/snowplow-google-cloud-storage-loader.git
[submodule "4-storage/es-loader"]
	path = 4-storage/loaders/elasticsearch
	url = https://github.com/snowplow/snowplow-elasticsearch-loader.git
[submodule "4-storage/postgres"]
	path = 4-storage/loaders/postgres
	url = https://github.com/snowplow-incubator/snowplow-postgres-loader.git
[submodule "1-trackers/react-native"]
	path = 1-trackers/react-native
	url = https://github.com/snowplow-incubator/snowplow-react-native-tracker.git
[submodule "testing/micro"]
	path = testing/micro
	url = https://github.com/snowplow-incubator/snowplow-micro.git
[submodule "testing/mini"]
	path = testing/mini
	url = https://github.com/snowplow/snowplow-mini.git
[submodule "5-data-modeling/analytics-sdk/scala"]
	path = 5-data-modeling/analytics-sdk/scala
	url = https://github.com/snowplow/snowplow-scala-analytics-sdk.git
[submodule "5-data-modeling/analytics-sdk/python"]
	path = 5-data-modeling/analytics-sdk/python
	url = https://github.com/snowplow/snowplow-python-analytics-sdk.git
[submodule "5-data-modeling/analytics-sdk/dotnet"]
	path = 5-data-modeling/analytics-sdk/dotnet
	url = https://github.com/snowplow/snowplow-dotnet-analytics-sdk.git
[submodule "5-data-modeling/analytics-sdk/javascript"]
	path = 5-data-modeling/analytics-sdk/javascript
	url = https://github.com/snowplow-incubator/snowplow-js-analytics-sdk.git
[submodule "1-trackers/command-line"]
	path = 1-trackers/command-line
	url = https://github.com/snowplow/snowplow-tracking-cli.git
[submodule "5-data-modeling/data-models"]
	path = 5-data-modeling/data-models
	url = https://github.com/snowplow/data-models
[submodule "5-data-modeling/analytics-sdk/golang"]
	path = 5-data-modeling/analytics-sdk/golang
	url = https://github.com/snowplow/snowplow-golang-analytics-sdk.git
[submodule "5-data-modeling/dbt-snowplow-utils"]
	path = 5-data-modeling/dbt-snowplow-utils
	url = https://github.com/snowplow/dbt-snowplow-utils
[submodule "5-data-modeling/dbt-snowplow-web"]
	path = 5-data-modeling/dbt-snowplow-web
	url = https://github.com/snowplow/dbt-snowplow-web
[submodule "1-trackers/roku-tracker"]
	path = 1-trackers/roku-tracker
	url = https://github.com/snowplow-incubator/snowplow-roku-tracker.git
[submodule "1-trackers/flutter-tracker"]
	path = 1-trackers/flutter
	url = https://github.com/snowplow-incubator/snowplow-flutter-tracker
