language: scala
scala:
  - 2.11.12
jdk:
  - oraclejdk8
before_script:
  - psql -U postgres -c "CREATE USER enricher WITH password 'supersecret1';"
  - psql -U postgres -c "CREATE DATABASE sql_enrichment_test WITH OWNER = enricher;"
  - psql -U postgres -d sql_enrichment_test < integration-tests/sql-enrichment-test.sql
  - psql -U postgres -d sql_enrichment_test -c "GRANT ALL ON enrichment_test TO enricher;"
script:
  - python integration-tests/api-lookup-test.py &
  - cd 3-enrich/scala-common-enrich && sbt publishLocal && cd ../..
  - cd $TEST_DIR && sbt test && cd ../..
env:
  global:
  # OER_KEY
  - secure: j6RcEPeT5DCmThYA+KSvn5zoFdwhO9Tyk9xXVrW+L8oTTAehDvEWQ1nkJM7m+KYwUtWH1bvRd9IOZgKkWxJeYSDvn8V0zd0dJKSc7R4kykfI/S3V67uM1LCj24B1dF62uiTMOFd9inwB3SLhVFwRk+tcgrZMLs9ljqND77pGR4Y=
  # OWM_KEY
  - secure: ZF2b692hBH1J8stmoeAcFnhRZkKxnzABLNIkdObHKLijJFMLMIaVn5mRWhmI8+lVbHIkx6BsUATdE3BPQnWI2iL5jfr2rxNfbX5NqFWV5RkN5wrKCCec4qljTpSGKApQXQT/KMFzBoxIk/c35yXjf/vN0JApztbaA/dygmpDRFo=
  # BINTRAY_SNOWPLOW_MAVEN_USER
  - secure: Z+qXgY0/qNksd2Z+aOQGhBmG9Gsw7sURIGc23YKWMMlGIHXAZQCZlQG+atvolkkfFHBl5hDHyuVLDxqjLAhxHZArWkFEruFOvio9kTdzLvhYGeS9pcAbEc9632XsdXqhFcKWUTREzndfxoVeVUpUGB6GfpJBk0dOLreK4xjH52w=
  # BINTRAY_SNOWPLOW_MAVEN_API_KEY
  - secure: YH9mXPva5vKcKxvkUnUOAiJDSk2tMXgr/li6zuV0pyjoH3mfns+EDM1UEiKVuCpMJKDKyasrvMisDOejswH5uoGogDqjNamh4NkBoiVyhbyA2NJiawjoVNX/nv9n7GjvabuzetvRrCX6jFBErTcaraXy7nDLHb4DOewreime8OQ=
  # BINTRAY_SNOWPLOW_GENERIC_USER
  - secure: kPX56utFobFT5NDfdBhF58nW8TQb6HKPmaZBhhZLLqJV/vfG1KpChzlaWGgJpUCF61RckpPEKROqfHTtpc3YHSprfCd1z5kKSo6UV+Jb4j188MKxaN7pXhGA7OM2okYqiiaHVywoq0+B9Z51Ygom5rVlZG/mjHEdbeaN1wCJDI0=
  # BINTRAY_SNOWPLOW_GENERIC_API_KEY
  - secure: YwhLm1v0EKBQQfUvNzrdyp8MGHDmnAhM51JijlApiPAfgYRJnogoNbmzMAqhbPNubnGFxaD5xgoavHXypaDAMGQoKY7q9WjHnBy1hxHWw8C0Q5vbVtxLroQWYYDi7YuEeY5D7/i3RkqD8bVIvPoHdFCQGuMYpHDke0OHcjrNz0Y=
  # AWS_ACCESS_KEY_ID
  - secure: H3n8c93jkUu9qMiYM7QY6SnZENv/9gds+MlegXFUjVZPVufX3HqtF1+zlC0AkIiQjrWHQo0HxLDN0djvMlDqCHu8l5Sh6HH9ct6PYbiXEC4zOzaY9nLFfVfh0kpCxek/3my9uxpwFlEGC33aY8a1UGSZ6ZkJJLmlKeGQHD3bjLs=
  # AWS_SECRET_ACCESS_KEY
  - secure: qsJvE2KHX6zfTbUD20Sq3d+b+ucuA/Bipiia5TEm/JKw0EoyIoiA4Fe1PTiYIvkIGuAcQWb4s5GrXCsztCAqZApn5+x8JgjPsmp0kLVXtZTQ3lv0AyTewxvIABoXfpblMuBmCIWjKwidGYQC+k8BgnWZ0JW6cnmfFq4i0bp4FM8=
  # AWS_STAGING_ACCESS_KEY_ID
  - secure: stEnjuXCyIoTh0wluBNwgwflc9j+QNq5QbzeEOv8KZQ6KAVjwikX1gzMGNBaD5a0JFgUuE8Wd55l5RMfb+P5Wt8Th7WpyJ55SaOlTz6nDWGFxpOo1XJy4UI7Qr9CPEmqWwsS7Kxl7+jVEJPIYbItr0a+oGsajAtNsly9C88S5w0=
  # AWS_STAGING_SECRET_ACCESS_KEY
  - secure: tTXtm8oxwHDpHPGByCbSao7Kauq8SFpeyBYpBoN4e9uUYbgzmwMNLts/tWAZpHGmmnKhrEFVZp/tfqgA1fMgPGFvMmJTFrvceBkPzbc7T3Ck8bxpAGoL8TmSvET9lC+NxP8A0s1Uvdo1Y9ue6lkNh8l74oDDZSSfdGqnNOc2rJ4=
  - SONA_USER=snowplow
  # SONA_PASS
  - secure: l826euZgoTP33un5ND8zbGpBTHjTZ/4c9l1aqCi2mEnoIE40DXFyYEr8mtGX0EJXUEATIY4G9RsdYTj6kdoxiZLNLP01f7bTTCB0773L9/CplQqajfQ4XqfteN80S8uvxVwxYM/1MyGKa6B54k8prlaOh+8Gsk5iwLSGvq7S/Lk=
  # AWS_DEPLOY_ACCESS_KEY_ID
  - secure: MENlO4xyvwqcbhtG1FByx/Q2ZFYEgy/8AZiuZcP/QgJiwkL7+3WJjKLYQrL/nhxPOSMiknxOynRAF2EB154UdvGJ+txshFGIerE3mIQmHYdvQCLeHfLi8Ql556ePjviEF6mhPnChC50XZf+kI7tfaUXSyR9nrJt0Tmu3N/EMI4s=
  # AWS_DEPLOY_SECRET_ACCESS_KEY
  - secure: MS/z9K5eYhtdh1aRNHNgnKQqxVAByZh7nkIh2uVMA01m90HPXUqOgdoVL2RVCiEqcodotC0gEDANHLRgxBe+uWALdT+RP5LLTF/AyhkPObtlLjhxLDxkFvuA5CulsjaAU/c8Cwcn3PXnpymImJyWR2+dE38PVHfTxzc+yVhv/Hg=
  # BINTRAY_SNOWPLOW_DOCKER_USER
  - secure: Pav87F57y6QVUs5/NMiH8sTa3u7UmCeQIgtLIRJprj4CFN6yBqnVXxF8VJ5ozVUikgJlEf4L7KagX+MTyxImId017/4In4A2vxql0wCT2R4qZ4pu4zEWF1gYm+ZqRB9llPrm85CjI5j1MYslrb4aglyi4l3iITksDI6RUXrHazM=
  # BINTRAY_SNOWPLOW_DOCKER_API_KEY
  - secure: LXoplmEfqUpjSD95jwOIysCJBn43OgUaZDvncX+a9LSGpSv8EenvJSdzVKEpywYPGdt0jAi/cKMRYMDjtms+DW4TXWkm+2qHGcWLG2SBiKJyQe486zNCdU/JpP24wXZ4FV+iK8d8oE9kSLi+Pi+hZvD9p1BKBTXP8IYpjoIYsP8=
  # DOCKER_USERNAME
  - secure: raLw23n0ruhIPOprVsq+AR6CcQZVqEXcfOBVGsQ1UfcP00gsxSP2H0HbCtHLTqonNSDvG6aZPsg2KgiB9oxoe+1TZAhSqYycPh6WBriTl+6dWHgeog9yVXxYWK4VlPeIvJNenkO53Cn8j/jVPrTNY9tdmLNtAwbrPfepfXwIBdk=
  # DOCKER_PASSWORD
  - secure: UhleYVVkQKnw8OfZjagQqLzHgV7pUXD6qYQfa2iOsIR9oazFmgbsbiPwThzAITcyP+USFXq8I2xMVN6mjPo0EzzPN4yzOx8a+ZVK/4Q37hGt210JbfOcgrlIxTIdTTEujcwcZRuv9L303ypL0LNe/0n0mF3KmYH5PSiIc+4qKro=
  matrix:
  - TEST_DIR=2-collectors/scala-stream-collector/
  - TEST_DIR=3-enrich/scala-common-enrich/
  - TEST_DIR=3-enrich/spark-enrich/
  - TEST_DIR=3-enrich/stream-enrich/
  - TEST_DIR=3-enrich/beam-enrich/
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install leiningen
  - sudo apt-get install -y lzop
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - rvm implode --force
  - \curl -sSL https://get.rvm.io | bash -s 1.27.0
  - rvm reload
  - rvm install jruby-9.1.6.0
  - gem uninstall -i /home/travis/.rvm/gems/jruby-9.1.6.0 bundler -a -x
  - gem install bundler -v 1.15.4
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
addons:
  postgresql: '9.3'
services:
  - docker
  - postgresql
before_deploy:
  - pip install --user release-manager==0.4.1
  # necessary for the deploy section to work, see https://github.com/snowplow/snowplow/issues/3691
  - rvm install 2.4.3
  - rvm --default use 2.4.3
deploy:
  - provider: script
    script: ./.travis/deploy_sce.sh $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh scala_common_enrich $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: cd 2-collectors/scala-stream-collector/ && sbt "project kinesis" docker:publish && sbt "project pubsub" docker:publish && sbt "project kafka" docker:publish && sbt "project nsq" docker:publish && cd ../.. && ./.travis/deploy.sh scala_stream_collector $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "2-collectors/scala-stream-collector/" ]] && .travis/is_release_tag.sh scala_stream_collector $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh stream_enrich $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/stream-enrich/" ]] && .travis/is_release_tag.sh stream_enrich $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh spark_enrich $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/spark-enrich/" ]] && .travis/is_release_tag.sh spark_enrich $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh beam_enrich $TRAVIS_TAG && ./.travis/deploy_docker.sh $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '"$(.travis/is_release_tag.sh beam_enrich $TRAVIS_TAG)" == "" && $? == 0 && $TEST_DIR = 3-enrich/beam-enrich/'
  - provider: script
    script: ./.travis/deploy.sh hadoop_event_recovery $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh hadoop_event_recovery $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh emr $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh emr $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh event_manifest_populator $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh event_manifest_populator $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh hadoop_fs_rmr $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh hadoop_fs_rmr $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh ami5_bootstrap $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh ami5_bootstrap $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
  - provider: script
    script: ./.travis/deploy.sh clojure_collector $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      condition: '$([[ "$TEST_DIR" == "3-enrich/scala-common-enrich/" ]] && .travis/is_release_tag.sh clojure_collector $TRAVIS_TAG && [ $? -eq 0 ] && echo "Deploying")'
