*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# data files
client_secrets_*
snowplow_bigquery_refresh_token.properties
data.json
example_row
snowplow_data/*
