container_commands:
  
  remove-jars:
  	command: rm /usr/share/tomcat7/lib/cf-access-log-valve-*.jar 

  add-jar:
    command: cp .ebextensions/cf-access-log-valve-0.0.4.jar /usr/share/tomcat7/lib/cf-access-log-valve-0.0.4.jar 

  replace-config:
    command: cp .ebextensions/server.xml /etc/tomcat7/server.xml