:targets:
  - :name:     # insert name
    :type:     redshift
    :host:     # insert host
    :database: # insert database name
    :port:     # insert database port
    :username: # insert Redshift user name
    :password: # insert Redshift user password
:variables:
    :input_schema: atomic
    :scratch_schema: scratch
    :output_schema: web
    :timezone: Europe/London
:steps:
  - :name: 00-web-page-context
    :queries:
      - :name: 00-web-page-context
        :file: web-model/01-page-views/00-web-page-context.sql
  - :name: 01-events
    :queries:
      - :name: 01-events
        :file: web-model/01-page-views/01-events.sql
  - :name: 02-events-time
    :queries:
      - :name: 02-events-time
        :file: web-model/01-page-views/02-events-time.sql
  - :name: 03-events-scroll-depth
    :queries:
      - :name: 03-events-scroll-depth
        :file: web-model/01-page-views/03-events-scroll-depth.sql
  - :name: 04-ua-parser-context
    :queries:
      - :name: 04-ua-parser-context
        :file: web-model/01-page-views/04-ua-parser-context.sql
  - :name: 05-timing-context
    :queries:
      - :name: 05-timing-context
        :file: web-model/01-page-views/05-timing-context.sql
  - :name: 06-page-views
    :queries:
      - :name: 06-page-views
        :file: web-model/01-page-views/06-page-views.sql
  - :name: 00-sessions
    :queries:
      - :name: 00-sessions
        :file: web-model/02-sessions/00-sessions.sql
  - :name: 00-users
    :queries:
      - :name: 00-users
        :file: web-model/03-users/00-users.sql
  - :name: 00-commit
    :queries:
      - :name: 00-commit
        :file: web-model/04-commit/00-commit.sql
