# Default configuration for kinesis-lzo-s3-sink

connector {

  # The following are used to authenticate for the Amazon Kinesis sink.
  #
  # If both are set to 'default', the default provider chain is used
  # (see http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/DefaultAWSCredentialsProviderChain.html)
  #
  # If both are set to 'iam', use AWS IAM Roles to provision credentials.
  #
  # If both are set to 'env', use environment variables AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY
  aws {
    access-key: "default"
    secret-key: "default"
  }

  kinesis {
    in {
      # Kinesis input stream name
      stream-name: ""

      # LATEST: most recent data.
      # TRIM_HORIZON: oldest available data.
      # Note: This only affects the first run of this application
      # on a stream.
      initial-position: "TRIM_HORIZON"
    }

    out {
      # Stream for events for which the storage process fails
      stream-name: "s3-raw-sink-errors"

      # Number of shards with which to create the stream if it doesn't already exist
      shards: 1
    }

    region: "us-east-1"

    # `app-name` is used for a DynamoDB table to maintain stream state.
    app-name: SnowplowLzoS3Sink-${connector.kinesis.in.stream-name}
  }

  s3 {
    endpoint: "http://s3.amazonaws.com"
    bucket: "" # Put s3 Bucket here
  }

  # Events are accumulated in a buffer before being sent to S3.
  # The buffer is emptied whenever:
  # - the combined size of the stored records exceeds byte-limit or
  # - the number of stored records exceeds record-limit or
  # - the time in milliseconds since it was last emptied exceeds time-limit
  buffer {
    byte-limit: 5242880 # 5MB
    record-limit: 1000  # 1K records
    time-limit: 60000 # 1 minute
  }

}
