# TODO: Comment this with relevant options.

collector {
  interface = "localhost"
  port = 8888
  aws {
    access-key: "cpf"
    secret-key: "cpf"
  }
  stream {
    name: "snowplow_collector_example"
    size: 1
  }
}


akka {
  loglevel = DEBUG
  loggers = ["akka.event.slf4j.Slf4jLogger"]
}

# Check the reference.conf in spray-can/src/main/resources for all
# defined settings
spray.can.server {
  # adds the Remote-Address header to every request automatically
  remote-address-header = on

  idle-timeout = 30 s
  request-timeout = 10 s

  request-chunk-aggregation-limit = 0

  parsing.max-content-length = 5g
  parsing.incoming-auto-chunking-threshold-size = 45k
}
